<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="LOG"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="PD"/>
		<service name="Timer"/>
		<service name="File_system"/>
		<service name="Rtc"/>
	</parent-provides>

	<start name="uacme" caps="1000">
		<resource name="RAM" quantum="38M"/>
		<exit propagate="yes"/>
		<config>
			<libc stdin="/dev/null" stdout="/dev/log" stderr="/dev/log"
			      rtc="/dev/rtc" rng="/dev/random" socket="/socket">
				<stack size="64K"/>
			</libc>
			<vfs>
				<dir name="dev"> <null/> <log/> <rtc/> </dir>
				<dir name="socket"> <lxip dhcp="yes"/> </dir>
				<dir name="tmp"> <ram/> </dir>
				<dir name="account"> <fs label="account" writeable="yes"/> </dir>
			</vfs>
			<arg value="uacme"/>
			<arg value="-v"/>
			<arg value="-y"/>
			<arg value="-a"/>
			<arg value="https://acme-staging-v02.api.letsencrypt.org/directory"/>
			<arg value="-c"/>
			<arg value="/account"/>
			<arg value="new"/>
		</config>
		<route>
			<service name="File_system" label="account"> <parent label="account"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
